@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply block text-sm font-medium  text-gray-800;
  }
  h1 {
    @apply text-2xl font-normal tracking-wide text-slate-800;
  }
  h2 {
    @apply text-2xl text-gray-900;
  }
}

@layer components {
  .btn-light {
    @apply cursor-pointer inline-block bg-slate-100 py-2 px-4 border border-transparent rounded-md text-base font-medium text-slate-600 hover:bg-slate-200;
  }
  .btn-outline {
    @apply inline-block border border-slate-200 py-2 px-4 rounded-md text-base font-medium text-slate-800 hover:bg-slate-50;
  }
  .btn-outline-dark {
    @apply border-slate-700  text-slate-200 hover:bg-slate-800;
  }
  .btn-dark {
    @apply cursor-pointer inline-block bg-slate-700 py-3 px-6 border border-transparent rounded-md text-base font-semibold tracking-wide text-white hover:bg-blue-800;
  }
  .btn-blue {
    @apply cursor-pointer inline-block bg-blue-100 py-3 px-4 border border-transparent rounded-md text-base font-semibold tracking-wide text-blue-700 hover:bg-blue-50;
  }
  .btn-social-login {
    @apply cursor-pointer w-full inline-flex justify-center py-2 px-4 border border-slate-100  rounded-md shadow-sm bg-slate-50  text-sm font-medium text-slate-500  hover:bg-slate-100;
  }

  .input-field {
    @apply block 
      w-full 

      p-4
      sm:text-sm 
      rounded-md 
      border 
      border-slate-200 
      placeholder-slate-400 
      text-slate-900 
      focus:ring-indigo-500 
      focus:border-indigo-500 
      invalid:border-red-300 
      invalid:text-red-900 
      invalid:placeholder-red-300  
      invalid:focus:ring-red-500 
      invalid:focus:border-red-500;
  }

  .error-message {
    @apply text-sm text-red-600;
  }
}
